.icon-wrapper {
  margin-bottom: 0.25rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.icon-social {
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
}
.icon-social:hover {
  color: var(--accent1);
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
