* {
    box-sizing: border-box;
}

:root {
    --primary: #5dbcf7;
    --secondary: #262626;
    --third: #F2A0CD;
    --fourth: #D94343;
    --white: #F2F2F2;
    --black: #012623;
}

::placeholder {
    color: var(--black);
}
::placeholder:focus {
    color: var(--white);
}

html {
    font-size: 62.5%
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--primary);
    text-align: center;
    font-family: 'Lato', sans-serif;

}

h1{
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0 0 1px var(--black);
    margin: 1rem 0 .2rem;
}
h1:hover {
    text-shadow: 0 0 3px var(--white);
    transition: .15s;
}

.header-h1 {
    color: var(--white);
}

.header-h1:hover {
    opacity: .8;
    color: var(--secondary);
    transition: .15s;

}


h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

p {
    font-size: 2.5rem;
}

.section-header{
    text-shadow: 0 0 1px var(--black);
    margin-bottom: 1rem;
    margin-top: .5rem;
}

/* Header style begin */
.header{
    background-color: var(--primary);
    padding: 0 0 .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-img-container {
    height: 60px;
    width: 60px;
}
.header-img {
    width: 60px;
    height: 60px;
}

.honcho-icon {
    position: absolute;
    height: 50%;
    left: 0;
    bottom: 0;    
}

.morie-icon {
    position: absolute;
    height: 50%;
    right: 0;
    bottom: 0;    
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Home style begin */

.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

/* Loop section style beginå */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    padding: 0 1rem;
}



.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary);
    padding: 1rem .5rem;
    border-radius: 15px;
    position: relative;
    max-height: 500px ;
}

.card:hover {
    transform: translateY(-1%);
    transition: .7s;
}

.beat-header {
    margin: .3rem 0;
}

.beat-details {
    margin: .3rem;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.pack-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0 .5rem;

}



.a-link {
    background-color: var(--fourth);
    font-size: 3rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    width: 90%;
    color: var(--white);
}

.a-link:hover {
    background-color: var(--secondary);
    transition: .25s;
}

/* Contact form style begin */
.form-container {
    width: 90%;
    margin: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -20px inset;
    border-radius: 40px;
    border: 2px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);

}

.form-container:hover {
    transform: translateY(-.8%);
    transition: 1s;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.form-header {
    border-bottom: 1px solid var(--secondary);
    border-radius: 2px;
    width: 100%;
    font-size: 5rem;
    padding: 0 1rem 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.contact-form input {
    text-align: center;
    border-radius: 20px;
    outline: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--black);
    color: var(--black);
    padding: .5rem 3rem;
}

.label {
    color: var(--white);
    text-shadow: 0 0 1px var(--black);
    font-size: 3rem;
    margin-bottom: .2rem;
    font-weight: 700;
}

textarea {
    border-radius: 20px;
    padding: 1rem 2rem;
    font-size: 2rem;
    resize: none;
}

.form-disclaimer {
    font-size: 4rem;
    padding: 4rem 4rem 0;
    margin: 0;
}

.form-warning {
    color: rgb(255, 0, 0);
    font-size: 2rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: var(--secondary);
    transition: .6s;
    color: var(--white);
}

/* Footer Style Begin */
footer {
    text-align: center;
    background-color: var(--secondary);
    width: 100%;
    padding: 1.5rem 0 .5rem;
}

.social {
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 60px;
    font-size: 50px;
    color: var(--fourth);
    margin: 0 .5rem;
}

.icon:hover {
    cursor: pointer;
    color: var(--primary);
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.tiktok {
    font-size: 48px;
}

.license-link {
    font-size: 2rem;
    color: var(--white);
    text-decoration: underline;
}

.license-link:hover {
    background-color: var(--fourth);
}

.copyright {
    font-size: 2rem;
    margin-top: 1rem;
}

/* License styling begin */
.license-header {
    margin-bottom: 1rem;
}
.license-text {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.license-download:hover {
    color: var(--fourth);
}

.warning {
    margin: 2rem 2rem 6rem;
}

/* FormSubmitted style begin */
.thank-you-container {
    height: 100vh;
}

/* Button styling begin */
.btn {
    border-radius: 20px;
    border: none;
    padding: .5rem 5rem;
    margin: 1.5rem 0;
    color: var(--white);
    font-size: 2.5rem;
    background-color: var(--fourth);
}

.btn:hover {
    cursor: pointer;
}



.submit-btn:hover {
    background-color: var(--secondary);
    border: 1px solid var(--white);
    transition: .25s;
}


/* Carousel style begin */
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary);
    border-radius: 15px;
    width: 90%;
}

.slider:hover {
    transform: translateY(-.4%);
    transition: .5s;
}

.slide {
    opacity: 0;
    transition: 1s;
}

.slide.active {
    opacity: 1;
    transition: .2s;
}

.carousel-header {
    border-bottom: 1px solid var(--secondary);
    border-radius: 2px;
    width: 90%;
    font-size: 5rem;
    padding: 0 1rem 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.carousel-img {
    width: 100%;    
    height: 100%;
    border-radius: 10px;
    min-height: 300px

}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 7rem;
    color: var(--white);
    cursor: pointer;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 7rem;
    color: var(--white);
    cursor: pointer;
}
.right-arrow:hover, .left-arrow:hover, .play-pause:hover {
    color: var(--primary);
    transition: .2s;
}

.play-pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    cursor: pointer;
}

.play-pause {
    font-size: 15rem;

}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
    .honcho-icon, .morie-icon {
        height: 70%;
    }
    .contact-form input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
    
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 7rem;
    }
    .home-container {
        flex-direction: row;
        height: 75vh;
        align-items: flex-start;
    }

    .honcho-icon, .morie-icon {
        height: 85%;
    }

    .xtra-padding {
        padding-top: 5rem;
    }
}