* {
    box-sizing: border-box;
}

:root {
    --primary: #41729F;
    --secondary: #C3E0E5;
    --third: #5885AF;
    --fourth: #274472;
    --white: #ffffff;
    --black: #111111;
}

html {
    font-size: 62.5%
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--primary);
    text-align: center;
}

h1{
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2.5rem;
}

.section-header{
    text-shadow: 0 0 1px var(--black);
}

/* Header style begin */
.header{
    background-color: var(--primary);
    box-shadow: 0 10px 20px -10px  var(--black);
    padding: 0 0 .5rem;
}



.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Loop section style beginå */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--fourth);
    padding: 1rem .5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--secondary);
}

.card:hover {
    transform: translateY(-1%);
    cursor: pointer;
    transition: .7s;
}

.beat-header {
    margin: .3rem 0;
}

.beat-details {
    margin: .3rem;
}
.pack-img {
    width: 100%;
    height: 100%;
}

/* Footer Style Begin */
footer {
    text-align: center;
    background-color: var(--fourth);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.icon-list {
    padding: 0;
}

.icon-list a {
    padding: 0 .5rem;
}
.icon {
    width: 50px;
    color: var(--fourth);
}
.filter-icon{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}