:root {
  --primary: #74b6e0;
  --secondary: #fbfff2;
  --tertiary: #252422;
  --accent1: #033f63;
  --accent2: #3a90cc;
  --black: #000000;
}
.ham__wrapper {
  position: absolute;
  top: 2.3rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ham__closed {
  transform: rotate(0deg);
  transition: 100ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.ham__open {
  transform: rotate(-90deg);
  transition: 50ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  z-index: 100000;
}
.ham__line {
  height: 0.2rem;
  width: 1.75rem;
  border-radius: 8px;
  margin-bottom: 0.25rem;
  background-color: var(--secondary);
}
.ham__lineOpen {
  background-color: var(--black);
  transition: 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@media screen and (min-width: 1080px) {
  .ham__wrapper {
    display: none;
  }
}
