:root {
  --primary: #74b6e0;
  --secondary: #fbfff2;
  --tertiary: #252422;
  --accent1: #033f63;
  --accent2: #3a90cc;
  --black: #000000;
}
.ham__menu {
  position: fixed;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  height: 100vh;
  top: 0;
  left: 0;
  width: 50vw;
  animation: ham-menu-open 250ms;
}
@keyframes ham-menu-open {
  0% {
    width: 0%;
  }
  100% {
    width: 50vw;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
  height: 100vh;
}
.ham__menuul {
  padding: 0;
  width: 100%;
  margin-left: 3rem;
  margin-top: 6rem;
}
.ham__menuli {
  margin-bottom: 0.5rem;
}
.ham__menua {
  color: var(--black);
  font-size: 0.875rem;
  animation: opacity 750ms;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ham__menua:hover,
.icon-social-ham:hover {
  color: var(--primary);
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-wrapper-ham {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 40%;
  gap: 0.75rem;
  height: 100vh;
  margin-bottom: 0.5rem;
}

.icon-social-ham {
  color: var(--black);
  height: 2rem;
  width: 2rem;
  animation: opacity 1300ms;
}

@media screen and (min-width: 768px) {
  .ham__menuul {
    margin-left: 5rem;
  }
  .ham__menua {
    font-size: 1rem;
  }
  .ham__menuli {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1080px) {
  .ham__menu {
    display: none;
  }
}
