:root {
  --primary: #74b6e0;
  --secondary: #fbfff2;
  --tertiary: #252422;
  --accent1: #033f63;
  --accent2: #3a90cc;
  --black: #000000;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--secondary);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
p,
a,
li,
button {
  line-height: 150%;
  font-weight: 400;
  margin: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
ul {
  list-style: none;
}
.p1 {
  font-size: 1rem;
}
.p2 {
  font-size: 0.875rem;
}
.p3 {
  font-size: 0.75rem;
}
.bold {
  font-weight: 600;
}
.btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--secondary);
  padding: 0.125rem 1.25rem;
}
.btn-cta {
  background-color: var(--accent1);
}
.btn-form {
  background-color: var(--primary);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem 0;
}

.content-wrapper {
  margin: 0 0.75rem;
}
